@tailwind base;

[data-poketype="normal"] {
    --primary-color: theme(colors.gray.300);
    --secondary-color: theme(colors.slate.200)
}

[data-poketype="fire"] {
    --primary-color: theme(colors.red.500);
    --secondary-color: theme(colors.orange.400)
}

[data-poketype="water"] {
    --primary-color: theme(colors.sky.600);
    --secondary-color: theme(colors.cyan.400)
}

[data-poketype="grass"] {
    --primary-color: theme(colors.green.600);
    --secondary-color: theme(colors.lime.500)
}

[data-poketype="electric"] {
    --primary-color: theme(colors.orange.500);
    --secondary-color: theme(colors.yellow.400)
}

[data-poketype="ice"] {
    --primary-color: theme(colors.blue.400);
    --secondary-color: theme(colors.blue.300)
}

[data-poketype="fighting"] {
    --primary-color: theme(colors.red.600);
    --secondary-color: theme(colors.orange.500)
}

[data-poketype="poison"] {
    --primary-color: theme(colors.violet.700);
    --secondary-color: theme(colors.purple.500)
}

[data-poketype="ground"] {
    --primary-color: theme(colors.amber.400);
    --secondary-color: theme(colors.orange.200)
}

[data-poketype="flying"] {
    --primary-color: theme(colors.purple.400);
    --secondary-color: theme(colors.purple.300)
}

[data-poketype="psychic"] {
    --primary-color: theme(colors.pink.700);
    --secondary-color: theme(colors.fuchsia.500)
}

[data-poketype="bug"] {
    --primary-color: theme(colors.emerald.700);
    --secondary-color: theme(colors.green.500)
}

[data-poketype="rock"] {
    --primary-color: theme(colors.amber.800);
    --secondary-color: theme(colors.orange.600)
}

[data-poketype="ghost"] {
    --primary-color: theme(colors.indigo.600);
    --secondary-color: theme(colors.indigo.500)
}

[data-poketype="dark"] {
    --primary-color: theme(colors.stone.800);
    --secondary-color: theme(colors.stone.700)
}

[data-poketype="dragon"] {
    --primary-color: theme(colors.violet.600);
    --secondary-color: theme(colors.violet.500)
}

[data-poketype="steel"] {
    --primary-color: theme(colors.gray.500);
    --secondary-color: theme(colors.gray.400)
}

[data-poketype="fairy"] {
    --primary-color: theme(colors.pink.400);
    --secondary-color: theme(colors.fuchsia.300)
}

/* Styles */
.wavy {
    --mask:
        radial-gradient(1.38rem at 50% calc(100% - 1.95rem), #000 99%, #0000 101%) calc(50% - 2rem) 0/4rem 100%,
        radial-gradient(1.38rem at 50% calc(100% + 0.95rem), #0000 99%, #000 101%) 50% calc(100% - 1rem)/4rem 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.box {
    --mask:
        radial-gradient(4.47rem at 50% 6.00rem, #000 99%, #0000 101%) calc(50% - 4rem) 0/8rem 100%,
        radial-gradient(4.47rem at 50% -4rem, #0000 99%, #000 101%) 50% 2rem/8rem 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}