---
import { getAllPokemons } from "../lib/pokemon";
import type { Pokemon } from "../lib/types";
import BaseLayout from "../layouts/base-layout.astro";
import SearchSection from "../components/search-section.svelte";

const pokemons: Pokemon[] = await getAllPokemons();
---

<BaseLayout>
	<div class="mt-12">
		<SearchSection pokemons={pokemons} client:idle />
	</div>
</BaseLayout>
