---
import { getAllPokemons } from "../lib/pokemon";
import type { Pokemon } from "../lib/types";
import BaseLayout from "../layouts/base-layout.astro";
import SearchSection from "../components/search-section.svelte";
import { Image } from "@astrojs/image/components";
import { getImage } from "@astrojs/image";

let pokemons: Pokemon[] = await getAllPokemons();
const pokemon = pokemons[0].sprites.other["official-artwork"].front_default;

pokemons = await Promise.all(
	pokemons.map(async (pokemon) => {
		const img = pokemon.sprites.other["official-artwork"].front_default;
		const { src } = await getImage({
			src: img,
			alt: "Hero",
			width: 190,
			height: 190,
		});
		pokemon.sprites.other["official-artwork"].front_default = src;
		return pokemon;
	})
);
---

<BaseLayout>
	<div class="mt-12">
		<SearchSection pokemons={pokemons} client:idle />
	</div>
</BaseLayout>
