---
import { Image } from "@astrojs/image/components";
---

<div>
    <Image
        src={`/images/banner.jpg`}
        alt="banner"
        width={1080}
        height={500}
        aspectRatio="16:9"
        format="webp"
        quality={60}
        class="object-cover object-top w-full transition-all duration-300 ease-linear shadow-2xl opacity-80 wavy shadow-white h-96 aspect-video hover:object-bottom -scale-x-[1]"
    />
</div>
