<div>
    <img
        src="/images/banner.jpg"
        alt="banner"
        class="object-cover object-top w-full transition-all duration-300 ease-linear shadow-2xl opacity-80 wavy shadow-white h-96 aspect-video hover:object-center -scale-x-[1]"
    />
</div>
